<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/index.css">
    <script src="../public/js/index.js"></script>
</head>

<body>
    <div class="xc_box">
        <!-- 标题栏 -->
        <div class="title">
            <!-- ul里面有菜单选项 -->
            <ul>
                <li id="menu">菜单
                    <ul class="two_menu">
                        <li id="zhuti">主题颜色
                            <ul class="three_menu_color">
                                <li id="color_q">浅色</li>
                                <li id="color_s">深色</li>
                                <li id="color_f">粉色</li>
                                <li id="color_m">默认</li>
                            </ul>
                        </li>
                        <li id="fontSize">字体大小
                            <ul class="three_menu_fontSize">
                                <li id="fontSizeAdd">+</li>
                                <li id="fontSizeSub">-</li>
                            </ul>
                        </li>
                        <li>测试</li>
                        <li>测试</li>
                        <li>测试</li>
                        <li>测试</li>
                    </ul>
                </li>
                <li>测试</li>
                <li>测试</li>
                <li>测试</li>
                <li>测试</li>
            </ul>
            <ul>
                <li>学生信息管理平台 version 1.0.0</li>
                <li>管理员【<span id="name">小菜</span>】欢迎你
                    <div class="name_c">
                        <div class="name_c_exit">x</div>
                    </div>
                </li>
            </ul>
            <ul>
                <li id="hidden">-</li>
                <li id="scale">o</li>
                <li id="exit">x</li>
            </ul>
        </div>
        <div class="body" style="height: 400px;">
            <h3 class="inf">编辑学生成绩信息<span class="as"><a href="/students">返回</a></span></h3>
            <form action="/students/edit" method="POST">
                <ul class="tul">
                    <li><input type="hidden" name="id" value="{{ students.id }}" ></li>
                    <!-- <li>姓名：<input type="text" name="name" value="{{ students.name }}" required></li>
                    <li>年龄：<input type="number" name="age" value="{{ students.age }}" min="1" max="100" required></li>
                    <li>性别：<input type="text" name="sex" value="{{ students.sex }}" required></li>
                    <li>籍贯：<input type="text" name="dz" value="{{ students.dz }}" required></li>
                    <li>学院：<input type="text" name="collage" value="{{ students.collage }}" required></li>
                    <li>班级：<input type="text" name="class" value="{{ students.class }}" required></li> -->
                    <li>语文：<input type="number" name="yuwen" value="{{ students.yuwen }}" required min="0"></li>
                    <li>数学：<input type="number" name="shuxue" value="{{ students.shuxue }}" required min="0"></li>
                    <li>英语：<input type="number" name="yingyu" value="{{ students.yingyu }}" required min="0"></li>
                    <li>物理：<input type="number" name="wuli" value="{{ students.wuli }}" required min="0"></li>
                    <li>化学：<input type="number" name="huaxue" value="{{ students.huaxue }}" required min="0"></li>
                    <li>生物：<input type="number" name="shengwu" value="{{ students.shengwu }}" required min="0"></li>
                    
                    <li><input type="submit" value="提交" id="submit"></li>
                </ul>
            </form>
        </div>
    </div>
    <div class="xxc_box">小菜平台</div>

</body>

</html>