<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/index.css">
    <script src="/public/js/index.js"></script>
</head>

<body>
    <div class="xc_box">
        <!-- 标题栏 -->
        <div class="title">
            <!-- ul里面有菜单选项 -->
            <ul>
                <li id="menu">菜单
                    <ul class="two_menu">
                        <li id="zhuti">主题颜色
                            <ul class="three_menu_color">
                                <li id="color_q">浅色</li>
                                <li id="color_s">深色</li>
                                <li id="color_f">粉色</li>
                                <li id="color_m">默认</li>
                            </ul>
                        </li>
                        <li id="fontSize">字体大小
                            <ul class="three_menu_fontSize">
                                <li id="fontSizeAdd">+</li>
                                <li id="fontSizeSub">-</li>
                            </ul>
                        </li>
                        <li>测试</li>
                        <li>测试</li>
                        <li>测试</li>
                        <li>测试</li>
                    </ul>
                </li>
                <li>测试</li>
                <li>测试</li>
                <li>测试</li>
                <li>测试</li>
            </ul>
            <ul>
                <li>学生信息管理平台 version 1.0.0</li>
                <li>管理员【<span id="name">小菜</span>】欢迎你
                    <div class="name_c">
                        <div class="name_c_exit">x</div>
                    </div>
                </li>
            </ul>
            <ul>
                <li id="hidden">-</li>
                <li id="scale">o</li>
                <li id="exit">x</li>
            </ul>
        </div>
        <div class="body">
            <h3 class="inf">学生基本信息<span class="as"><a href="/students/new">添加</a></span></h3>
            <form action="/students/s" method="get">
                <input type="text" name="id" id="search" placeholder="请输入要查询的学生的学号" required>
                <input type="submit" value="查询" id="submit_a" >
                <span class="as" class="ab-a"><a href="/students">首页</a></span>
                <span class="ab">在首页功能为刷新，在其他页功能为回到首页</span>
            </form>
            
            <table border="1">
                <thead>
                    <th>学号</th>
                    <th>姓名</th>
                    <th>年龄</td>
                    <th>性别</td>
                    <th>籍贯</td>
                    <th>学院</td>
                    <th>班级</td>
                    <th>操作</th>
                </thead>
                <tbody>
                    {{ each students }}
                    <tr>
                        <td class="a"><a href="/students/grade?id={{ $value.id }}">{{ $value.id }}</a></td>
                        <td>{{ $value.name }}</td>
                        <td>{{ $value.age }}</td>
                        <td>{{ $value.sex }}</td>
                        <td>{{ $value.dz }}</td>
                        <td>{{ $value.collage }}</td>
                        <td>{{ $value.class }}</td>
                        <td class="a">
                            <a href="/students/edit?id={{ $value.id }}">编辑</a>
                            <a href="/students/delete?id={{ $value.id }}">删除</a>
                        </td>
                    </tr>
                    {{ /each }}
                </tbody>
            </table>
            <h3 class="inf">留言信息<span class="as"><a href="/students/new_c">添加</a></span></h3>
            <ul class="ul">
                {{ each comments }}
                <li><span>{{ $value.name }}</span>说：<span>{{ $value.content }}</span><span>{{ $value.time }}</span></li>
                {{ /each }}
            </ul>
            
        </div>
    </div>
    <div class="xxc_box">小菜平台</div>

</body>

</html>